.container{
    padding: 72px 20px 50px 20px;
    color: #333333;
    background-color: #FFFFFF;
}
@media screen and (min-width: 768px){
   .container{
    padding: 72px 32px 50px 32px;
   }
}
@media screen and (min-width: 1360px){
    .container{
     padding: 80px 24px;
    }
 }