.container{
    padding-top: 79px;
    padding-bottom: 79px;
    padding-left: 20px;
    background-color:  #0284D0;
    color: #FFFFFF;
}
.preTitle{
font-size: 16px;
line-height: 22px;
margin-bottom: 16px;
}
.title{
    font-size: 32px;
line-height: 44px;

margin-bottom: 24px;
font-weight: 400;

}
.text{
    font-size: 16px;
line-height: 22px;
margin-bottom: 24px;
}
.button{
    padding: 16px 32px;

    width: 172px;
    height: 54px;
    left: 20px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
background-color: transparent;
font-size: 16px;
line-height: 22px;
}
@media screen and (min-width: 768px){
    .preTitle{
     font-size: 18px;
 line-height: 25px;
    }
    .title{
     font-size: 40px;
 line-height: 48px;
    }
    .text{
     font-size: 18px;
 line-height: 25px;
    }
    .button{
     font-size: 18px;
 line-height: 25px;
 width: 186px;
    }
    .container{
     padding: 62px 32px;
     width: 400px;
    }
 
 }