.list{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 12px;
}
.list:hover{color: #28A745;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
