.link{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.38;
/* identical to box height */
text-decoration: none;
padding: 5px;

border-bottom: solid 1px transparent ;
color: #FFFFFF;
}
.navList{
    display: flex;
    justify-content: space-between;
}
.navItem{
    list-style: none;
}
.link:hover{
  border-bottom: solid 1px #28A745;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav{
    width: 100%;
    max-width: 403px;
  }
}