.container{
    display: flex;
    align-items: center;
    margin-bottom: 16px;

}
.textFirst{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 1.35;
text-decoration: none;
margin-left: 8px;

color: #28A745;
}
.textSecond{
    color: #FFFFFF;}

    .container:hover{
        transform: scale(1.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 768px) {
        .container{
        margin-bottom: 0;
        }
      }