.container{
    display: flex;
    align-items: center;
    margin-bottom: 16px;

}
.textFirst{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 1.35;
text-decoration: none;
margin-left: 8px;

color: #28A745;
}
.textSecond{
    color: #FFFFFF;}